{
  "plugins": [["import", {
    "libraryName": "antd",
    "style": true
  }]],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
